/* Header */

$font-stack: Helvetica, sans-serif;
$title-font: 'Amatic SC', cursive;
$subtitle-font: 'Open Sans Condensed', sans-serif;
$body-font: 'Open Sans', sans-serif;
$blog-start: rgb(245, 48,66);
$blog-end: rgb(254,111,33);
$home-start: #22BBF3;
$home-end-old: #2A86C8;
$home-end: rgb(8,93,190);
body {
font-family: $body-font;
font-size: 14px;
margin: 0;
}

.header-container{
	/*box-shadow: 0px 3px 6px #666666;*/
	text-align:center;
}

.navlink {
font-family: $title-font;
font-size: 36px;
padding-right: 20px;
padding-left: 20px;
padding-bottom:5px;
display:inline-block;
margin:auto;
padding-top:5px;
}

#nav-home-active {
	position:relative;
	background-color:$home-start;
	color:white;
	/*-webkit-box-shadow: 0 10px 3px -3px $home-start;
    filter: drop-shadow(0px 10px 3px -3px $home-start); */
	
}

#nav-blog-active {
	@extend #nav-home-active;
	background-color:$blog-start;
	
}

#nav-blog:hover {
	background-color: #e6e6e6;
}

#nav-home:hover {
	@extend #nav-blog:hover;
}


.header-spacer{
	width:60px;
	display:inline-block;
}

a {
	color:inherit;
	text-decoration:inherit;
}

h1 {
font-family: $title-font;
font-size: 66px;
margin:0; 
padding:0;
}


/* Home Page */
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}

.home-gradient {
	@include vertical-gradient($home-start,$home-end);
text-align:center;
position:relative;
z-index:-1;
}

 .profile-image {
/*-webkit-filter: drop-shadow(0px 0px 3px #808080);
filter:         drop-shadow(0px 0px 3px #808080); */
padding-top:30px;
width:230px;
 }


.profile-passion {
	padding:10px;
	max-width:480px;
    margin:0 auto;
    font-size: 36px;
    font-family:$subtitle-font;
    color:white;
    padding-bottom:20px;
}

.profile-passion-span {
	font-family:$title-font;
}

.home-description{
	padding:20px;
	padding-top:0px;
	max-width:464px;
    margin:0 auto;
    font-size: 18px;
    font-family:$body-font;
    text-align:left;
    line-height:36px;
}

.home-linkedin-p{
@extend .profile-passion;
color:black;
font-size:36px;
padding-top: 0px;
text-align:center;
}

.home-linkedin-span{
	@extend .home-linkedin-p;
	font-family: $title-font;
	padding:0px;
	font-size:40px;
}

.linkedin-img {
	position:relative;
	top:5px;
}

.home-footer {
	background:#e6e6e6;
	color:black;
	font-size: 24px;
	font-family: $title-font;
	text-align:center;
	padding: 1px;
	margin-top:20px;
}


.work {
	background-color:rgb(242,242,242);
}

.work-container{
	@extend .home-description
}

.work-image {
	-webkit-filter: drop-shadow(0px 0px 2px #a3a3a3);
filter:         drop-shadow(0px 0px 2px #a3a3a3); 
max-width:100%;
}

.work-title {
	font-family: $title-font;
	font-size: 48px;
	padding-top:30px;
}

.work-subtitle {
	font-size:36px;
}

/* Blog listing page */

.blog-header {
	@include vertical-gradient($blog-start,$blog-end);
	color:white;


}

.blog-header-content {
	max-width: 644px;
	margin: 0 auto;
	padding:20px;
	
}

.blog-idea {
	padding-right:10px;
	width:33px;
	position:relative;
	top:1px;
}

.blog-h1 {
	font-size:60px;

}

.blog-subtitle {
	font-family: $subtitle-font;
	font-size: 26px;
	padding:0;
	margin:0;
}

.blog-li-title {
	font-family: $title-font;
	font-size: 30px;
}

/*li*/

.article-summary {
	@extend .blog-header-content;
	color:black;
	border-bottom:2px solid #e6e6e6; 
	font-size:16px;
	line-height:30px;
}


.article-title-list {
	font-family:$title-font;
	font-size:48px;
	line-height:48px;
	margin:0;
	padding:0;
}

.read-time-list {
	text-align:right;
	padding-top:5px;
	font-family: $subtitle-font;
	font-size:18px;
}

.posted-date-list {
	margin-top:0;
	font-family:$subtitle-font;
	font-size: 22px;
}

.coffee-list {
	position:relative;
	top:3px;
}

/*single post*/


@media screen and (max-width: 680px){

.article-header-rcol{
	display:none;
}

.author-mobile {
	display: inline-block !important;
}

}


.art-title {
	font-family:$title-font;
	font-size: 50px;
	line-height: 50px;
	margin:0;
}

.article-header-container{
max-width:644px;
margin:0 auto;
}

.article-header-lcol{
	float:left;
	padding-left:20px;
	padding-right:0px;
	padding-top:20px;
	padding-bottom:20px;
	font-family:$subtitle-font;
	font-size:24px;
	max-width:458px;

}

.article-header-rcol{
	float:right;
	padding-left:10px;
	padding-top:20px;
	font-family:$title-font;
	font-size:30px;
	width:156px;
	text-align:center;

}

.author{
	display:inline-block;
}

.author-mobile{
	display:none;
	font-size:28px;
}

.author-mobile-name{
	display:none;
	font-size:30px;
	@extend .author-mobile;
	font-family: $title-font;
}

.very-small-matthew {
	@extend .author-mobile;
	position:relative; 
	width:40px; 
	top:8px; 
	left: 5px;
}

.art-date{
	font-size:28px;
}

.art-readtime{
	position:relative;
	top:10px;
}

.article-content{
	font-family: $body-font;
	font-size: 18px;
	line-height: 30px;
	max-width:604px;
	padding:20px;
	margin:0 auto;

}


.back-to-articles {
	font-family: $title-font;
	font-size: 30px;
	padding:5px;
	border: 2px solid black;
	margin-top:20px;
	display: inline-block;
}

h3 {
	font-family: $title-font;
	font-size: 30px;
}

